.product{
    width: 300px;
    height: 400px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 180px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin: 7px;
}
.product-info{
    margin: 0 14px;
}
.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}

.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    
}
.btn-cart{
    width: 90%;
    background:#688bec;
    border: none;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    position:absolute;
    margin-left: 15px;
    bottom:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
   background-color:rgb(13, 182, 35);
}